@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif !important;
}

body {
    margin: 0;
    background-color: hsl(240, 100%, 10%);
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100vh;
}

.maindiv {
    background-color: hsl(240, 100%, 10%);
    height: 100vh;
}

.maintextcontainer {
    display: flex;
    justify-content: center;
    /* position: relative;
    top: 15vh; */
    text-align: center;
    padding-top: 20vh;
}

.maintext {
    height: auto;
    color: white;
    font-size: 2.3em;
    margin: 0;
    display: flex;
    justify-content: center;
}

.subtext {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    padding-top: 0.5em;
}

.opensorucelink {
    color: #512682;
}

.mainpage {
    display: none;
    height: 28em;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.loginsection {
    border-radius: 10px;
    padding: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
    height: 18em;
}

.usernameinputfield,
.passwordinputfield {
    margin-bottom: 1.5em;
    display: flex;
    width: fit-content;
    color: white;
}

.actionbuttons {
    display: grid;
    height: 5em;
}

.separation {
    height: 1em;
}

.contacticonscontainer {
    /* grid container styles */
    /* position: relative;
    bottom: 20vh; */
    padding-top: 2em;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 20vw;
    min-width: 350px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    height: 2em;
}

.grid-item {
    position: relative;
    /* set the grid items as position relative */
    width: 100%;
    /* set the width to 100% */
    height: 100%;
    /* set the height to 100% */
}

.contacticon {
    /* icon container styles */
    position: absolute;
    /* set the icon as position absolute */
    top: 0;
    /* set the top to 0 */
    left: 0;
    /* set the left to 0 */
    bottom: 0;
    /* set the bottom to 0 */
    right: 0;
    /* set the right to 0 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(2.5);
    height: 0;
}

.tablepage {
    display: none;
    width: 70vw;
    margin: 0 auto;
    max-height: 75vh;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 2em;
    padding-top: 3em;
    padding-bottom: 3em; */
}

.tableitself {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.table {
    width: 70vw;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: white;
    /* border: 2px solid #357633; */
    border-radius: 10px;
    overflow-x: hidden;
}

.tablecells {
    text-align: center !important;
}

.tablescreen {
    height: 70vh;
    display: none;
}

.backbutton {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.activeflex {
    display: flex;
}

.activeblock {
    display: block;
}

.calendarview {
    color: white;
    font-size: 1.2em;
    width: 80vw;
    margin: 0 auto;
    height: 80vh;
    padding-top: 8vh;
}

.fc-event {
    flex-direction: column-reverse;
}

.fc-event,
.fc-event-start,
.fc-event-end {
    color: black;
}

.fc-event-title {
    height: 0;
}

.fc-daygrid-event-harness {
    padding: 0.5em;
}

.fc-event:hover {
    background: gray !important;
    cursor: pointer;
}

.fc-event,
.fc-event-start,
.fc-event-end,
.fc-event-future,
.fc-daygrid-event,
.fc-daygrid-dot-event {
    height: 5em;
    overflow-wrap: break-word;
    white-space: normal;
    background: white;
    border-radius: 7px;
}

.fc-scrollgrid {
    border-radius: 7px;
}

.fc-scrollgrid-sync-inner {
    padding-top: 1em;
    padding-bottom: 1em;
}

.fc-prev-button,
.fc-button,
.fc-button-primary {
    background-color: #512682;
    background: #512682 !important;
    border-color: #512682 !important;
}

.fc-col-header-cell-cushion {
    font-size: 1.5em;
}

.calendarviewbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.fc-dayGridWeek-view,
.fc-view fc-daygrid {
    min-width: 900px;
}

@media only screen and (max-width: 504px) {
    .maintextcontainer {
        padding-top: 15vh;
    }
}

@media only screen and (max-width: 1325px) {
    .tableitself {
        padding: 0;
    }
}